<!-- PARTIAL HEADER -->
<header">
    <div class="row header-container">
        <!-- Logo -->
        <div class="logo-container">
            <a href="/"><img id="logo" src="/img/LOGO.jpg" alt="logo"></a>
        </div>

        <!-- Icons-->
        
            <ul>
                
                <li class="nav-item">
                    <a class="nav-link" href="/contacto">contacto</a>
                </li>
            </ul>
        </div>

        

    </div>
    </div>
    </div>
    </header>
    <!-- END OF PARTIAL HEADER -->